The goal of this notebook is to make functions to make recommendations on the data we had

In [1]:
import pandas as pd

In [3]:
sim = pd.read_csv('../data/recommendation_matrix.csv')
sim_1 = pd.read_csv('../data/recommendation_matrix_wo_tfidf.csv')
df = pd.read_csv('../data/recomm_df')

**sim** : similarity matrix 

**sim_1** : similarity matrix made without using tfidf

**df** : dataframe with all the internships

In [3]:
# setting id column as index
sim.set_index('id', inplace = True)
sim_1.set_index('id', inplace = True)

In [4]:
def make_recs(sim, df, i, n):
    '''
    this function will return a dataframe of top n recommendations, based on the similarity matrix provided and dataframe 
    provided, for a user who viewed the internship with the ith ID.
    
    '''
    ith_series = sim.loc[:,str(i)]
    ith_series = ith_series.sort_values(ascending = False)
    recs = ith_series.head(n+1).index.tolist()
    recs.remove(i)
    recs_df = df[df.id.isin(recs)]
    return recs_df

### for sim :

In [134]:
df[df.id == 650]

,id,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
649,650,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,we are looking for hardworking ...,software developer : c#,paid,2019-02-27,2020-02-27,"c#,asp,sql server",http://letsintern.com/internship/Software-Deve...

In [135]:
make_recs(sim, df, 650, 3)

,id,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
66,67,web developer,amplus,bangalore,mplus as software service provi...,web developer,paid,2019-02-28,2019-05-31,ajax,http://letsintern.com/internship/Web-Developer...
107,108,web developer,amplus,anywhere in india,mplus as software service provi...,web developer,paid,2019-02-28,2019-05-31,no skills preferred,http://letsintern.com/internship/Web-Developer...
331,332,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,we are looking for hardworking ...,software developer : c#,paid,2019-02-27,2020-02-27,"c#,asp,sql server",http://letsintern.com/internship/Software-Deve...

### for sim_1 :

In [136]:
make_recs(sim_1, df, 650, 3)

,id,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
331,332,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,we are looking for hardworking ...,software developer : c#,paid,2019-02-27,2020-02-27,"c#,asp,sql server",http://letsintern.com/internship/Software-Deve...
332,333,wordpress developer,trippyigloo,bangalore,we are looking for an experienc...,web developer : php,paid,2019-03-26,NaN,"html5,javascript,php,jquery,...",http://letsintern.com/internship/Web-Developer...
448,449,software development internship for 2015 passi...,amplus,bangalore,? the selected candidates will have to undergo...,web developer,unpaid,2015-01-01,2015-03-31,"computer science,servlets an...",http://letsintern.com/internship/Web-Developer...

Find a way to filter out duplicates on the basis of checking just the job title, company name, details and location